*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
    transition: all 500ms !important;
    transition-delay: 0 !important;
}